- # Footer
- # Allows us to create standardized styling for all footer elements
- # This is meant to provide users with the ability to identify the various elements of the company
%footer

  // Container
  // Used to determine common width across applications
  .container

    // Company
    // Uses info from DB / Credentials
    .company
      .title= link_to "© #{Rails.application.credentials[Rails.env.to_sym][:company][:name]}", "http://www.#{Rails.application.credentials[Rails.env.to_sym][:app][:domain]}"
      .email= link_to "#{Rails.application.credentials[Rails.env.to_sym][:app][:email]}", "mailto:#{Rails.application.credentials[Rails.env.to_sym][:app][:email]}", title: "Email Us Directly", data: { placement: :right }
      .office= Rails.application.credentials[Rails.env.to_sym][:company][:address]
      .number
        Registered in England & Wales:
        = link_to Rails.application.credentials[Rails.env.to_sym][:company][:number], "https://companycheck.co.uk/company/10685457/DAMAGE-RECLAIM-LIMITED/companies-house-data", target: :blank

    // Info
    // Links (as demonstrated)
    .links
      This is a test

    // Contact
    // Allows us to showcase how to contact the company
    .contact
      Contact
