- ########################################################
- ########################################################
- # Footer
- # Allows us to create standardized styling for all footer elements
- # This is meant to provide users with the ability to identify the various elements of the company
- ########################################################
- ########################################################

/ Container
/ Used to determine common width across applications
.container

  / Company
  / Uses info from DB / Credentials
  .company
    .email
      email:
      = link_to "#{Rails.application.credentials[Rails.env.to_sym][:app][:email]}", "mailto:#{Rails.application.credentials[Rails.env.to_sym][:app][:email]}"
    .office
      office:
      = Rails.application.credentials[Rails.env.to_sym][:company][:address]
    .number
      Company No:
      = link_to Rails.application.credentials[Rails.env.to_sym][:company][:number], "https://companycheck.co.uk/company/10685457/DAMAGE-RECLAIM-LIMITED/companies-house-data", target: :blank

  / Contact
  / Allows us to showcase how to contact the company
  .contact
    .social
      - {"envelope-open" => "mailto: #{Rails.application.credentials[Rails.env.to_sym][:app][:email]}", twitter: 'https://www.twitter.com/DamageReclaim', linkedin: 'https://www.linkedin.com/company/damagereclaim/', facebook: 'https://www.facebook.com/Damage-Reclaim-659249180932932/'}.each do |k,v|
        = link_to fa_icon(k), v, target: :blank
    .call= content_tag :span, "We're open 24/7 - Call us free on #{Rails.application.credentials[Rails.env.to_sym][:company][:phone]}"

/ Info
/ Links (as demonstrated)
.links
  .container
    - @footer_links.each do |text,link|
      = link_to text, link, class: cycle("odd", "even")
