<h1><%= Rails.application.credentials[Rails.env.to_sym][:app][:domain] %> (<%= Rails.env.titleize %>)</h1>
<hr />
<br />
<% Claim.new.attributes.each do |k,v| %>
  <p><b><u><%= k %></u></b> - <%= @claim.send(k) %></p>
<% end %>
<hr />
<h3><a href="<%= edit_admin_claim_url(@claim) %>">View Online</a></h3>
