<h1><%= Rails.application.credentials[Rails.env.to_sym][:app][:domain] %> (<%= Rails.env.titleize %>)</h1>
<hr />
<br />
<% @claim.attributes.each do |k,v| %>
  <% if v.present? %>
    <p><b><u><%=  @claim.class.human_attribute_name(k) %></u></b> - <%= @claim.send(k) %></p>
  <% end %>
<% end %>
<hr />
<h3><a href="<%= @claim.class.name.to_s == "Claim" ? edit_admin_claim_url(@claim) : edit_admin_contact_url(@claim) %>">View Online</a></h3>
