- ########################################################
- ########################################################
- # Claim Letter
- # This allows us to create a PDF which will act as the claims letter
- # The content is presently hard-coded, but I suppose we could make it dynamic
- ########################################################
- ########################################################

/ Table
%table{width: "85%", align: "center", style: "font-family: Arial, sans-serif;"}
  %thead
    %th.logo{width: "35%"}= image_tag image_url("logo_long.jpg"), width: "100%"
    %th.address{align: "right"}
      - %i(name address).each do |x|
        = content_tag :span, class: x do
          - Rails.application.credentials[Rails.env.to_sym][:company][x.to_sym].split(",").each do |y|
            = y
            %br
  %tbody
    %tr
      %td{ colspan: 2 }
        %p{ style: "margin: 0.5em 0;" } Dear Sirs,
    %tr
      %td{ colspan: 2 }
        %p{ style: "margin: 0.5em 0;" }= t("claim.intro", client: @claim.first, from: @claim.from, to: @claim.to).html_safe
      - items.each do |item|
        %tr
          %td{ colspan: 2 }
            %p{ style: "margin: 0.5em 0;" }= t("claim.#{item}", client: @claim.first, from: @claim.from, to: @claim.to).html_safe
    %tr
      %td{ colspan: 2 }
        %p We are fully aware of our client's rights and the escalation process with the ECRCS process and will follow their conciliation process if we don't get a considered response.
        %p Kind Regards,
        %p The Damage Reclaim Team.

- ########################################################
- ########################################################
